.container {
  width: 100%;
  background-color: #2d2d2d;
  padding: 40px 0;
  display: flex;
  justify-content: center;

  .body {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

    .info {
      h2 {
        font-size: 24px;
        font-weight: bold;
        max-width: 300px;
      }
    }

    .address,
    .contact {
      h3 {
        font-size: 18px;
        margin-bottom: 5px;
      }

      p {
        margin: 5px 0;
      }
    }

    .icon {
      font-size: 20px;
      color: white;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #4c9aff;
      }
    }

    .emailButton {
      background-color: #5a4fff;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: #3d34b5;
      }
    }

    .emailLink {
      display: inline-block;
      padding: 8px 16px;
      background-color: #f37a22;
      color: white;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e66a12;
      }
    }
  }
}