.cardContainer {
  width: 100%;

  .grid {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    .ratingCard {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 2rem;

      .ratingSimple {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-size: 1.5rem;
        gap: 4px;

        .starIcon {
          color: gold;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }
        }

        .ratingNumber {
          margin-left: 0.5rem;
          font-size: 1.3rem;
          color: #333;
          font-weight: 600;
          display: flex;
          align-items: center;
          position: relative;
          padding-right: 1rem;

          &::after {
            content: "";
            width: 3px;
            height: 25px;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ccc;
            font-size: 1.1rem;
            font-weight: 300;
            opacity: 0.8;
            line-height: 1;
            margin-right: 3px;
          }
        }
      }
    }

    .nameCard {
      .titleCard {
        font-size: 2.5rem;
        font-weight: 550;
        text-align: center;
      }
    }

    .namePrice {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 2rem;

      .titlePrice {
        font-size: 1.5rem;
        font-weight: 550;
        text-align: center;
        color: #ff5733;
      }
    }
  }
}