// styles.module.scss
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: #f8f8f8;
  padding: 60px 0 !important;
  border-radius: 15px;
}

.cannes {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageGallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 25px;

  .mainImage {
    width: 100%;
    height: auto;

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      color: #ccc;
      transition: color 0.3s ease;

      &:hover {
        color: #7c7a7a;
      }
    }
  }

  .thumbnailList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: auto;
    flex: none;

    .thumbnail {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
}

.bookingSection {
  width: 50%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookingCard {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .badge {
    background: #d9534f;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    align-self: flex-start;
  }

  .price {
    color: #ff6600;
    font-size: 24px;
  }

  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  .bookBtn {
    background: #e65c2e;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #cc4e24;
    }
  }

  .freeCancel,
  .reserveNow {
    font-size: 14px;
    color: #555;
  }

  .spanTitle {
    font-size: 1.2rem;
    font-weight: 500;
  }

}